<div class="d-flex align-items-center">

  <h1>迷える子羊一覧</h1>

  <div class="ml-auto boards__linkBox">
    

    <%= link_to "新規質問", new_post_path, class: "btn btn-outline-dark" %>

  </div>

</div>

<% if flash[:notice] %>

  <div class="alert alert-danger"><%= flash[:notice] %></div>
  
<% end %>

<table class="table table-hover boards__table">

  <thead class="thead-dark">

    <tr>

      <th>ID</th>

      <th>タイトル</th>

      <th>質問者</th>

      <th>質問日時</th>

      <th>更新日時</th>

      <th></th>
      
      <th></th>

    </tr>

  </thead>

  <tbody>

    <% @posts.each do |post| %>

      <tr>

        <td><%= post.id %></td>

        <td><%= post.title %></td>
      <% user = User.find(post.user_id) %>
        <td><%= user.name %></td>
      
        <td><%= post.created_at.to_s(:datetime_jp) %></td>

        <td><%= post.updated_at.to_s(:datetime_jp) %></td>

        <td><%= link_to '詳細', post_path(post.id), class: 'btn btn-outline-dark' %></td>
      <% if post.user_id == session[:user_id] %> 
　      <td><%= link_to '削除', post_path(post.id), class: 'btn btn-outline-dark' , method: :delete %></td>
　    <% end %>
      </tr>

    <% end %>

  </tbody>

</table>

<%= paginate @posts%>