<div class="d-flex align-items-center mt-4 mb-4">

  <div class="ml-auto boards__linkBox">

    <%= link_to "一覧",   posts_path, class: "btn btn-outline-dark"%>
<% if @post.user_id == session[:user_id] %> 
    <%= link_to "編集",  edit_post_path(@post)	 , class: "btn btn-outline-dark"%>
<% end %>
  </div>

</div>

<% if flash[:notice] %>

<div class="alert alert-primary"><%= flash[:notice] %></div>

<% end %>

<%= render @post %>

<div class="p-comment_list">
  
  <div class="p-comment_listTitle">解決案</div>
  
  <%= render @post.comments%>
  
</div>

<%= render partial: "comments/form", locals: { comment: @comment } %>